* {
  box-sizing: border-box;
  text-shadow: 1px 1px 3px #444;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: linear-gradient(rgba(103, 19, 14, 0.4), rgba(0, 0, 0, 0.5)),
    url("../components/assets/images/coffeeBG.jpg");
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
}

a:hover {
  text-decoration: none;
}

.whiteText {
  color: whitesmoke;
}